a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #212121;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.btn {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .nav,
  .nav__list {
    display: flex;
    align-items: center;
  }
}

.header__container {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
  }
}

.header-mobile__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}
.header-mobile__btn {
  fill: #000000;
}
.header-mobile__btn:hover, .header-mobile__btn:focus {
  fill: #2196f3;
}

/* Menu button */
.menu-button {
  z-index: 2;
  display: inline-flex;
  margin: 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 1;
}
.menu-container.is-open {
  display: flex;
  flex-direction: column;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-social__item:not(:last-child)::after {
  content: "";
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0 9px;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
}
.logo__accent {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.header__logo {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 92px;
  }
}

/* Nav */
@media screen and (max-width: 768px) {
  .nav {
    margin-bottom: auto;
  }
}

.nav__item {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav__item {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link:hover,
.nav__link:focus,
.nav__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .nav__link--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #2196f3;
  }
}

/* Contacts */
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}
.contacts__item {
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-right: 30px;
  }
}
.contacts__img {
  margin-right: 8px;
  fill: currentColor;
}
.contacts__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__tel {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}
.contacts__mail {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

@media screen and (min-width: 1200px) {
  .contacts__link:hover,
  .contacts__link:focus {
    color: #2196f3;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.hero {
  position: relative;
  z-index: 0;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-image-set(url("../images/mobile/hero.webp") type("image/webp") 1x, url("../images/mobile/hero@2x.webp") type("image/webp") 2x, url("../images/mobile/hero.jpg") type("image/png") 1x, url("../images/mobile/hero@2x.jpg") type("image/png") 2x);
  background-image: image-set(url("../images/mobile/hero.webp") type("image/webp") 1x, url("../images/mobile/hero@2x.webp") type("image/webp") 2x, url("../images/mobile/hero.jpg") type("image/png") 1x, url("../images/mobile/hero@2x.jpg") type("image/png") 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-image-set(url("../images/tablet/hero.webp") type("image/webp") 1x, url("../images/tablet/hero@2x.webp") type("image/webp") 2x, url("../images/tablet/hero.jpg") type("image/png") 1x, url("../images/tablet/hero@2x.jpg") type("image/png") 2x);
    background-image: image-set(url("../images/tablet/hero.webp") type("image/webp") 1x, url("../images/tablet/hero@2x.webp") type("image/webp") 2x, url("../images/tablet/hero.jpg") type("image/png") 1x, url("../images/tablet/hero@2x.jpg") type("image/png") 2x);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-image-set(url("../images/desktop/hero.webp") type("image/webp") 1x, url("../images/desktop/hero@2x.webp") type("image/webp") 2x, url("../images/desktop/hero.jpg") type("image/png") 1x, url("../images/desktop/hero@2x.jpg") type("image/png") 2x);
    background-image: image-set(url("../images/desktop/hero.webp") type("image/webp") 1x, url("../images/desktop/hero@2x.webp") type("image/webp") 2x, url("../images/desktop/hero.jpg") type("image/png") 1x, url("../images/desktop/hero@2x.jpg") type("image/png") 2x);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
  }
}

.features__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}
@media screen and (max-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__img {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__subtitle {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
}

.works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}
.works__list {
  display: flex;
}
.works__item {
  position: relative;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}
.works__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 100%;
  height: 70px;
}

.team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  border-radius: 0 0 4px 4px;
  max-width: 450px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
}

.team__meta {
  padding: 30px 122px 24px;
}
@media screen and (min-width: 768px) {
  .team__meta {
    padding: 30px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__meta {
    padding: 30px 32px;
  }
}

.team__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials__img {
  fill: currentColor;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__link:hover,
.customers__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.customers__img {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
@media screen and (max-width: 1200px) {
  .footer__info {
    margin-bottom: 60px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
  }
}
.footer__subtitle {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .footer__subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    margin-top: 12px;
  }
}
@media screen and (max-width: 768px) and (max-width: 1200px) {
  .footer__socials {
    margin-bottom: 60px;
  }
}
.footer .socials {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .address {
    margin-bottom: 60px;
  }
}
.address__item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__item:first-child {
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .address__item {
    text-align: center;
  }
}

.socials__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1200px) {
  .subscribe {
    display: flex;
    flex-direction: column;
  }
}
.subscribe__input {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  border-radius: 4px;
  width: 450px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
}
@media screen and (max-width: 1200px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 358px;
  }
}
.subscribe__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
}
@media screen and (max-width: 1200px) {
  .subscribe__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.subscribe__img {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 3;
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__btn-closed {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
}
.modal__btn-closed:hover, .modal__btn-closed:focus {
  color: #2196f3;
}

.modal__img-closed {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (max-width: 1200px) {
  .modal__title {
    max-width: 370px;
  }
}

/* Form */
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  outline: none;
  padding: 11px 12px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .form__comment {
    width: 448px;
  }
}

.form__comment:focus,
.form__input:focus {
  border: 1px solid #2196f3;
}

.form__input:focus + svg {
  fill: #2196f3;
}

.form__comment::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  line-height: 1.71;
}
.checkbox__icon {
  width: 15px;
  height: 14px;
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}
.checkbox__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}
.checkbox__text {
  font-size: 12px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
  }
}

.checkbox__input:checked + .checkbox__icon {
  fill: #ffffff;
  background-color: #2196f3;
  border: transparent;
}

/* Button */
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  row-gap: 12px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__btn {
  padding: 6px 25px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .filter__btn {
    padding: 6px 22px;
  }
}
.filter__btn:hover, .filter__btn:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: #2196f3;
}

/* Examples */
@media screen and (min-width: 768px) {
  .examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.examples__text {
  padding: 20px 24px;
}
.examples__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples__article {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.examples__item {
  width: 450px;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .examples__item {
    flex-basis: calc((100% - 30px) / 2);
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    flex-basis: calc((100% - 60px) / 3);
    max-width: 370px;
  }
}
@media screen and (max-width: 768px) {
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.examples__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.examples__box {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
}

.examples__link:hover .examples__overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */