
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $accent-bg-color;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__logo {
    display: block;
    margin-bottom: 20px;
    color: $primary-bg-color;
    font-family: $second-family;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
  
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .address__item {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
  }
  
  .address__item:first-child {
    color: $primary-bg-color;
  }
  
  .footer__subtitle {
    margin-bottom: 20px;
    margin-top: 12px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
  }
  
  .socials__link--footer {
    color: $primary-bg-color;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .subscribe__input {
    color: $primary-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 12px;
    padding: 15px 16px;
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
  }
  
  .subscribe__input::placeholder {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .subscribe__btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
  }
  
  .subscribe__img {
    margin-left: 10px;
    fill: currentColor;
  }
  