.team {
  background-color: $secondary--bg-color;

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}


.team__item {
  border-radius: 0 0 4px 4px;
  max-width: 450px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: $primary-bg-color;
  
  &:not(:last-child) {
    @media screen and (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 354px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 270px;
  }
}

.team__meta {
  padding: 30px 22px 24px;
  @media screen and (min-width: $tablet) {
    padding: 30px 24px 24px;
  }
  @media screen and (min-width: $desktop) {
    padding: 30px 32px;
  }
}

.team__name {
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms $animation, background-color 250ms $animation;
}

.socials__link:hover,
.socials__link:focus {
  color: $primary-bg-color;
  background-color: $accent-color;
}

.socials__img {
  fill: currentColor;
}
